.cards {
  margin-bottom: 50px;
}

.card {
  margin-bottom: 25px;

  .card-container {
    background-color: @light-grey;
    .container();
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 25px 0 25px;

    @media (min-width: @screen-sm-min) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .card-heading {
    color: @dark-grey;
    margin-top: 0;
    font-weight: 400;
  }

  .card-body {
    margin-bottom: 15px;
  }

  .card-body-description {
    margin-bottom: 25px;
  }

  .card-body-thumbnails {
    .make-row();
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-body-thumbnails .thumbnail {
    .make-sm-column(3);
    background-color: @light-grey;
    border: 0;
  }

  .card-body-thumbnails .thumbnail img {
    border: 2px solid @dark-grey;
    border-radius: 0;
    height: 150px;
    width: 200px;
  }

  .card-tags {
    padding: 10px 0;
    line-height: 2.5em;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      text-align: left;
    }
  }

  .card-tags span {
    padding: 5px 10px;
    background-color: @dark-grey;
    margin-bottom: 5px;
    color: @white;
  }
}
