.navbar.navbar-default {
  margin-bottom: 40px;
}

.navbar .navbar-brand {
  margin-top: -30px;
  padding-top: 0;
  margin-left:15px;
  position: absolute;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background-image:url('../images/profile-picture.png');
  background-size: 100px 100px;
  background-position-y:15px;
}

.navbar-collapse {
  padding-left: 125px !important;
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-left: 100px !important;
  }
}

@media (max-width: 768px) {
  .headroom--top {
    display: block;
  }

  .headroom--pinned {
    display: block;
  }

  .headroom--unpinned {
    display: none;
  }

  .headroom {
    transition: transform 200ms linear;
  }

  .headroom--pinned {
    transform: translateY(0%);
  }

  .headroom--unpinned {
    transform: translateY(-100%);
  }
}
