.header {
  margin-bottom: 25px;

  .top-border{
    height: 15px;
    background-color: @green;
    width: 100%;
  }

  .header-container {
    border-bottom: 1px solid @white;
    .container();
    margin: 25px 15px 50px 15px;
    padding-top: 25px;
    padding-bottom: 15px;

    @media (min-width: @screen-sm-min) {
      padding-top: 75px;
      padding-bottom: 50px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .header-image {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  .header-image img {
    border-radius: 100%;
    border: 1px solid @white;
    height: 100%;
    width: 100%;
  }

  .header-name {
    color: @white;
    text-align: center;
    display: block;
    font-weight: 500;
  }

  .header-about-me {
    color: @white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    max-width: 500px;
    text-align: center;
  }

  .header-contact {
    text-align: center;

    a {
      color: @white;
      font-size: 1.6em;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
