// Core Variables and Mixins
@import "variables";
// Bootstrap Mixins - Utilities
@import "mixins/hide-text.less";
@import "mixins/opacity.less";
@import "mixins/responsive-visibility.less";
@import "mixins/tab-focus.less";
@import "mixins/vendor-prefixes.less";
// Bootstrap Mixins - Components
@import "mixins/buttons.less";
@import "media.less";
@import "mixins/panels.less";
// Bootstrap Mixins - Skins
@import "mixins/border-radius.less";
// Bootstrap Mixins - Layout
@import "mixins/clearfix.less";
@import "mixins/center-block.less";
@import "mixins/grid-framework.less";
@import "mixins/grid.less";
@import "mixins";
// Bootstrap - Reset and dependencies
@import "normalize.less";
// Bootstrap Core CSS
@import "scaffolding.less";
@import "grid.less";
@import "buttons.less";
// Bootstrap Components
@import "thumbnails.less";
@import "panels.less";
@import "wells.less";
// Bootstrap Utility Classes
@import "utilities.less";
@import "responsive-utilities.less";
@import (inline) "photoswipe.css";
@import (inline) "default-skin/default-skin.css";

body,
h1, h2, h3, h4, h5, h6,
p,
table,
div,
button,
input,
form {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

body {
  background-color: #F2F1EF;
  padding-top: 15px;
  padding-bottom: 10px;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.details {
  h1,
  .bio,
  .contact {
    text-align: center;

    @media (min-width: @screen-sm-min) {
      text-align: left;
    }
  }
}

.card {
  position: relative;
  border-radius: 0;
  cursor: default;
  box-shadow: none;
  margin-bottom: 0;
  overflow: hidden;
}

.card-collapsed {
  display: table;
  position: absolute;
  padding: 20px 35px;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  height: 350px;
  width: 100%;

  .wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .card-image {
    .make-sm-column(3);
  }

  .card-image a img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

    @media (min-width: @screen-sm-min) {
      margin-bottom: 0;
    }
  }

  .card-body {
    .make-sm-column(9);
    text-align: center;

    @media (min-width: @screen-sm-min) {
      float: none !important;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }
  }

  .card-body .card-heading {
    font-size: 2em;
    font-weight: 700;

    @media (min-width: @screen-sm-min) {
      margin-bottom: 0.25em;
    }
  }

  .card-body .card-summary {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    font-weight: 500;
  }

  .card-body button {
    background-color: transparent;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
    border: 1px solid #666666;

    @media (min-width: @screen-sm-min) {
      float: right;
      margin-right: 25px;
    }
  }
}

.card-expanded {
  position: absolute;
  bottom: 1000px;
  width: 100%;
  background-color: #FFFFFF;

  .card-heading {
    padding: 10px 25px;
    font-size: 1.5em;
    font-weight: 700;
  }

  .card-body {
    padding: 20px 25px;
    font-size: 1.1em;
  }

  .card-body h1 {
    font-size: 1.1em;
  }

  .card-body button {
    background-color: transparent;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
    border: 1px solid #666666;

    @media (min-width: @screen-sm-min) {
      float: right;
      margin-bottom: 25px;
    }
  }
}

.thumbnail {
  border-radius: 0;
}

.social-icons .icon {
  font-size: 25px;
  padding: 5px 10px;
}

@import "header.less";
@import "about.less";
@import "tenthousandcoffees.less";
@import "envisage.less";
@import "oicr.less";
@import "scicalc.less";

@import "font.less";
@import "lightbox.less";

