// Core Variables and Mixins
@import "variables.less";

// Bootstrap Mixins - Utilities
@import "mixins/hide-text.less";
@import "mixins/opacity.less";
@import "mixins/responsive-visibility.less";
@import "mixins/tab-focus.less";
@import "mixins/vendor-prefixes.less";
// Bootstrap Mixins - Components
@import "mixins/buttons.less";
@import "media.less";
@import "mixins/panels.less";
// Bootstrap Mixins - Skins
@import "mixins/border-radius.less";
// Bootstrap Mixins - Layout
@import "mixins/clearfix.less";
@import "mixins/center-block.less";
@import "mixins/grid-framework.less";
@import "mixins/grid.less";
@import "mixins";
// Bootstrap - Reset and dependencies
@import "normalize.less";
// Bootstrap Core CSS
@import "scaffolding.less";
@import "grid.less";
@import "buttons.less";
// Bootstrap Components
@import "thumbnails.less";
@import "panels.less";
@import "wells.less";
// Bootstrap Utility Classes
@import "utilities.less";
@import "responsive-utilities.less";
@import (inline) "photoswipe.css";
@import (inline) "default-skin/default-skin.css";

body,
h1, h2, h3, h4, h5, h6,
p,
table,
div,
button,
input,
form {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  font-weight: 400;
  color: @grey;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

body {
  background-color: @soft-orange;
}

.golden-ratio (@dividend){
  @result: @dividend/@golden-ratio;
}

@import "brand.less";
@import "header.less";
@import "footer.less";
@import "card.less";

@import "font.less";
@import "lightbox.less";

